@tailwind base;
@tailwind components;
@tailwind utilities;

.bannerBg {
  background-image: url("/banner.jpeg");
  object-fit: cover;
}
.hscBg {
  background-image: url("/read2.png");
  /* background-repeat: no-repeat; */
  object-fit: cover;
}

.example {
  margin-left: 20px;
  color: darkblue;
}
.menus {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

table,
th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 3px;
}
th {
  background-color: #f2f2f2;
}
.note {
  font-style: italic;
}

.rule-section {
  margin-bottom: 20px;
}
table {
  /* width: 100%;       */
  border-collapse: collapse;
}
p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 17px;
  font-weight: bold;
}

.navs {
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
  /* background-color: transparent; */
  /* height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10101010; */
}
.navs.active {
  /* background: linear-gradient(90deg, rgb(66, 2, 194) 0%, rgb(0, 70, 194) 100%); */
  /* background-color: #000; */
  /* background-color: transparent; */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10101010;
}
