@tailwind base;
@tailwind components;
@tailwind utilities;

.bannerBg {
  background-image: url("/banner.jpeg");
  object-fit: cover;
}

.menus {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
